<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <nav>
        <a href="/recipe">All Recipe</a> |
        <a href="/recipe/my">My Recipe</a> |
        <a href="/recipe/new">Add Recipe</a> |
        <a href="/logout">Logout</a>
    </nav>
    <hr>



</body>

</html>